.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #000);
  border-radius: var(--radius);
  z-index: 3;
}
.progress {
  flex: 1;
  display: flex;
  margin: 0 0.5rem;
  align-items: center;
  transition: 1s all;
}
.progress button {
  margin-right: 0.5rem;
  flex: 1 1 auto;
  position: relative;
  border: 0;
  height: 8px;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: var(--radius);
}
.progress button div {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 2;
  border-radius: var(--radius);
}
.progress span {
  color: var(--white);
  font-size: 0.75rem;
}